:root {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --primary-color: #e0e0e0;
  --secondary-color: #acacac;
  --button-bg-color: #1f1f1f;
  --button-hover-bg-color: #333;
  --card-bg-color: #2c2c2c;
  --card-border-color: #444;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

button {
  background-color: var(--button-bg-color);
  color: var(--text-color);
  border: 1px solid var(--card-border-color);
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--background-color);
}

.section {
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 8px;
  margin-bottom: 20px;
}

.section-buttons {
  margin-bottom: 20px;
}

.section-buttons button {
  background-color: var(--button-bg-color);
  color: var(--text-color);
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 1000;
  font-size: 1.1rem;
}

.section-buttons button:hover {
  transform: translateY(-2px);
  background-color: var(--button-hover-bg-color);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--background-color);
}

h2 {
  color: var(--primary-color);
}

p {
  color: var(--text-color);
}

.no-scroll {
  overflow: hidden; /* Disable scrolling */
}
